%text-style {
   font-size: 1rem;
   font-weight: 400;
   font-style: normal;
   line-height: normal;
}
.about-nav {
   width: 100%;
}
.about-nav__item {
   width: 100%;
}
.about-nav__item-title {
   width: 100%;
   display: inline-flex;
   align-items: center;
   gap: 8px;
   @extend %text-style;
   color: $white-color;
   border-bottom: 2px solid $line-color;
   padding: 10px 0px 10px 16px;
   cursor: pointer;
   svg {
      transition: all 0.3s ease;
   }
}
.about-nav__item-title.profile.active,
.about-nav__item-title.contact {
   svg {
      transform: rotate(-90deg);
   }
}
.about-nav__item-lists-wrapper {
   width: 100%;
   display: grid;
   grid-template-rows: 0fr;
   transition: grid-template-rows 0.3s linear;
}
.about-nav__item-lists-wrapper.active {
   grid-template-rows: 1fr;
   border-bottom: 2px solid $line-color;
   & .about-nav__item-lists {
      padding-top: 10px;
      padding-bottom: 10px;
   }
}
.about-nav__item-lists {
   overflow: hidden;
   list-style: none;
   padding: 0px;
   padding-left: 16px;
   transition: padding 0.3s linear;
}
.about-nav__item-lists.contact {
   padding-top: 10px;
}
.about-nav__item-list-item,
.about-nav__item-list-item a {
   display: flex;
   align-items: center;
   gap: 8px;
   color: $secondary-grey-color;
   margin-bottom: 10px;
   cursor: pointer;
   transition: all 0.3s ease-in;
}
.about-nav__item-list-item.active {
   color: $white-color;
}
@include media-query("max-width", "540px") {
   .about-nav__item-title {
      background: rgba(30, 45, 61, 1);
      border-bottom: 0px;
      margin-bottom: 3px;
   }
   .about-nav__item-lists-wrapper.active {
      border-bottom: 0px;
      margin-bottom: 0px;
   }
}
