%text-style {
   font-size: 1rem;
   font-weight: 400;
   font-style: normal;
   line-height: normal;
}
.nav-list {
   display: flex;
   flex-direction: column;
}
.nav-list__items {
   height: 185px;
   list-style: none;
   padding: 10px 10px;
   border-bottom: 2px solid $line-color;
   li {
      @extend %text-style;
      color: $secondary-grey-color;
      cursor: pointer;
      margin-bottom: 10px;
      transition: all 0.3s ease-in-out;
      &:hover {
         color: $white-color;
      }
   }
}
.nav-list__title {
   display: inline-flex;
   align-items: center;
   gap: 8px;
   border-bottom: 2px solid $line-color;
   padding: 5px 10px;
   @extend %text-style;
   color: $white-color;
}
.nav-list__links {
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding: 10px 10px;
   a {
      display: inline-flex;
      gap: 5px;
      @extend %text-style;
      color: $secondary-grey-color;
   }
}
