*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
}
body {
   width: 100%;
   height: 100%;
   font-family: "Fira Code", "Droid Sans", "Helvetica Neue", sans-serif;
   font-size: 16px;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   --font-fira: "Fira Code";
   --font-lato: "Lato";
}
a {
   text-decoration: none;
   color: inherit;
}
