%share-button-styles {
   border-radius: 8px;
   padding: 10px 14px;
   border: none;
   font-family: $font-fira;
   font-size: 0.875rem;
   font-weight: 450;
   font-style: normal;
   line-height: normal;
   cursor: pointer;
   transition: all 0.3s ease-in;
}
.game-container {
   width: 510px;
   height: 475px;
   padding: 30px;
   display: flex;
   gap: 24px;
   border-radius: 8px;
   border: 1px solid #0c1616;
   background: linear-gradient(
      150deg,
      rgba(23, 85, 83, 0.7) 1.7%,
      rgba(67, 217, 173, 0.09) 81.82%
   );
   box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.3) inset;
   backdrop-filter: blur(32px);
}
#snake-canvas {
   border-radius: 8px;
   background: rgba(1, 22, 39, 0.84);
   box-shadow: 1px 5px 11px 0px rgba(2, 18, 27, 0.71) inset;
   position: relative;
}
.game__info-header {
   width: 180px;
   height: 140px;
   border-radius: 8px;
   background: rgba(1, 20, 35, 0.19);
   padding: 15px 13px;
   p {
      display: inline-flex;
      flex-direction: column;
      font-size: 0.875rem;
      font-weight: 450;
      font-style: normal;
      line-height: normal;
      color: $white-color;
   }
}
.game__info-header-icons {
   margin-top: 15px;
   display: flex;
   flex-wrap: wrap;
   svg {
      &:nth-child(1) {
         flex: 0 1 100%;
      }
   }
}
.game__info-scores {
   margin-top: 30px;
   p {
      font-size: 1.2rem;
      font-weight: 450;
      font-style: normal;
      line-height: normal;
      color: $white-color;
      span {
         font-size: 0.875rem;
      }
   }
}
.game__button-start {
   position: absolute;
   bottom: 65px;
   right: 50%;
   transform: translateX(-35%);
   background: #fea55f;
   @extend %share-button-styles;
   &:hover {
      background-color: rgba(255, 172, 107, 1);
   }
}
.game__speed-set {
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 10px;
   &:has(input:disabled) {
      input,
      label {
         cursor: not-allowed;
      }
   }
   input {
      appearance: none;
      border-radius: 50%;
      height: 16px;
      width: 16px;
      border: 2px solid $line-color;
      position: relative;
      top: 4px;
      transition: 0.3s all linear;
      margin-right: 5px;
      cursor: pointer;
      &:checked {
         border: 6px solid rgba(67, 217, 173, 1);
      }
   }
   label {
      font-size: 1rem;
      font-weight: 500;
      line-height: normal;
      font-style: normal;
      color: $secondary-grey-color;
      margin-right: 5px;
      cursor: pointer;
   }
}
.game__set-speed {
   border-radius: 8px;
   padding: 10px 14px;
   font-family: $font-fira;
   font-size: 0.875rem;
   font-weight: 500;
   line-height: 19px;
   word-spacing: -5px;
   background-color: rgba(28, 43, 58, 1);
   color: $white-color;
}
.game__button-stop {
   @extend %share-button-styles;
   background-color: rgba(28, 43, 58, 1);
   color: $white-color;
   &:hover {
      background-color: rgba(38, 59, 80, 1);
   }
}
