%font-style {
   font-size: 1rem;
   font-weight: 400;
   font-style: normal;
   line-height: normal;
}
%text-display {
   display: inline-flex;
   align-items: center;
   gap: 8px;
}
.contact {
   height: 100%;
}
.contact__header {
   height: 40px;
   border-bottom: 2px solid $line-color;
   h3 {
      width: 245px;
      height: 100%;
      padding-left: 22px;
      @extend %text-display;
      @extend %font-style;
      color: $white-color;
      border-right: 2px solid $line-color;
   }
}
.contact__inner-wrapper {
   height: calc(100% - 40px);
   display: flex;
}
.contact__aside {
   width: 245px;
   border-right: 2px solid $line-color;
}
.contact__links {
   padding: 18px 0px 20px 22px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   border-bottom: 2px solid $line-color;
   a {
      @extend %font-style;
      @extend %text-display;
      color: $secondary-grey-color;
      text-decoration: none;
   }
}
.contact__social-links {
   padding-top: 10px;
   display: flex;
   flex-direction: column;
   gap: 8px;
   h3,
   a {
      @extend %text-display;
      @extend %font-style;
      padding-left: 22px;
   }
   h3 {
      color: $white-color;
      border-bottom: 2px solid $line-color;
      padding-bottom: 10px;
   }
   a {
      color: $secondary-grey-color;
      text-decoration: none;
   }
}
.contact__main-content {
   width: calc(100% - 245px);
   display: flex;
}

.contact__form-wrapper {
   width: 700px;
   border-right: 2px solid $line-color;
   display: flex;
   align-items: center;
   justify-content: center;
}
.contact__text-wrapper {
   width: calc(100% - 700px);
   display: flex;
   align-items: center;
   justify-content: center;
   h2 {
      width: 500px;
      font-size: 2rem;
      font-weight: 600;
      line-height: 48px;
      text-align: center;
      color: $secondary-grey-color;
   }
}
