%font-style {
   font-size: 1rem;
   font-weight: 400;
   font-style: normal;
   line-height: normal;
}
%text-display {
   display: inline-flex;
   align-items: center;
   gap: 8px;
}
.contact {
   height: 100%;
   display: flex;
}
.contact__aside {
   width: 225px;
   border-right: 2px solid $line-color;
}
.contact__aside-title {
   width: 100%;
   height: 40px;
   padding-left: 22px;
   @extend %text-display;
   @extend %font-style;
   color: $white-color;
   border-bottom: 2px solid $line-color;
   &:nth-of-type(2) {
      border-top: 2px solid $line-color;
   }
}
.contact__aside-menu-wrapper {
   width: 100%;
}
.contact__aside-contacts,
.contact__aside-links {
   list-style: none;
   padding: 17px 0px 26px 22px;
}
.contact__aside-contacts-item,
.contact__aside-links {
   a {
      @extend %font-style;
      @extend %text-display;
      color: $secondary-grey-color;
      text-decoration: none;
   }
}
.contact__main {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-grow: 1;
   border-right: 2px solid $line-color;
}
.contact__text-animation {
   margin-left: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   h2 {
      width: 500px;
      font-size: 2rem;
      font-weight: 600;
      line-height: 48px;
      text-align: center;
      color: $secondary-grey-color;
   }
}
@include media-query("max-width", "540px") {
   .contact {
      flex-direction: column;
      overflow: scroll;
      padding-bottom: 10px;
   }
   .contact__aside {
      width: 100%;
      border: none;
      padding-top: 20px;
   }
   .contact__aside-title {
      border: none !important;
      background: #1e2d3d;
      margin-bottom: 10px;
      svg {
         transition: rotate 0.3s linear;
      }
   }
   .contact__aside-title.open {
      svg {
         rotate: -90deg;
      }
   }
   .contact__aside-menu-wrapper,
   .contact__aside-menu-wrapper {
      transition: all 0.3s linear;
   }
   .contact__aside-menu-wrapper.closed,
   .contact__aside-menu-wrapper.closed {
      opacity: 0;
      height: 0px;
   }
   .contact__aside-menu-wrapper.open,
   .contact__aside-menu-wrapper.open {
      opacity: 1;
      height: 110px;
   }
   .contact__main {
      border: none;
   }
   .contact__text-animation {
      display: none;
   }
}
