.home-block {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 70px;
   overflow: hidden;
   position: relative;
}
.home-block__hero-content {
   max-width: 100%;
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 50px;
   z-index: 5;
}
.home-block__hero-content::before,
.home-block__hero-content::after {
   content: "";
   position: absolute;
   height: 120px;
   width: 60px;
   bottom: 0px;
   z-index: 10;
}
.home-block__hero-content::before {
   left: -10px;
   background: linear-gradient(
      90deg,
      rgba(1, 22, 39, 1),
      rgba(1, 22, 39, 0.9) 45%,
      rgba(1, 22, 39, 0) 100%
   );
}
.home-block__hero-content::after {
   right: -10px;
   background: linear-gradient(
      270deg,
      rgba(1, 22, 39, 1),
      rgba(1, 22, 39, 0.9) 45%,
      rgba(1, 22, 39, 0) 100%
   );
   filter: blur(5px);
}
.home-block__text-container {
   width: 100%;
}
.title-greeting,
.title-name,
.title-job {
   font-style: normal;
   line-height: normal;
   color: $white-color;
   margin: 0px;
}
.title-greeting {
   font-size: 1.125rem;
   font-weight: 450;
}
.title-name {
   font-size: 3.875rem;
   font-weight: 600;
}
.title-job {
   font-size: 2rem;
   font-weight: 500;
   color: $secondary-blue-color;
}
.home-block__sub-texts-container {
   margin-top: 40px;
}
.sub-text-item {
   font-size: 1.125rem;
   font-weight: 600;
   font-style: normal;
   line-height: 27px;
   color: $secondary-grey-color;
   word-spacing: -2.5px;
   margin-bottom: 5px;
   display: flex;
   gap: 8px;
}
.sub-text-item.link {
   display: block;
   font-weight: 500;
   color: $secondary-blue-color;
   span {
      &:first-child {
         color: #43d9ad;
      }
      &:first-child + span {
         color: $white-color;
      }
   }
   a {
      text-decoration: none;
      color: #e99287;
   }
}
.home-block__game-container {
   position: relative;
   z-index: 10;
}
.blue-effect,
.green-effect {
   position: absolute;
   width: 454px;
   height: 492px;
   opacity: 0.4;
   filter: blur(87px);
   z-index: 1;
}
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
   .blue-effect,
   .green-effect {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
   }
}
.green-effect {
   background: #43d9ad;
   transform: rotate(-94.305deg);
   top: -50px;
   right: 250px;
   z-index: 5;
}
.blue-effect {
   background: #4d5bce;
   transform: rotate(13.508deg);
   right: 91.4px;
   bottom: 38.92px;
}

@include media-query("max-width", "540px") {
   .home-block {
      flex-direction: column;
      gap: unset;
   }
   .home-block__hero-content {
      width: 100%;
      height: 100%;
      gap: unset;
      justify-content: space-between;
      align-items: center;
      padding: 25px 0px;
   }
   .home-block__hero-content::before,
   .home-block__hero-content::after {
      bottom: 25px;
   }
   .home-block__text-container {
      width: calc(100% - 30px);
   }
   .title-name {
      font-size: 2.625rem;
      line-height: 59.9px;
      word-spacing: -17px;
   }
   .title-job {
      font-size: 1.5rem;
      line-height: 31.1px;
   }
   .sub-text-item {
      font-size: 1rem;
      font-weight: 600;
      line-height: 20.1px;
      word-spacing: -5.5px;
   }
   .home-block__game-container {
      display: none;
   }
   .blue-effect,
   .green-effect {
      width: 255.65px;
      height: 277.048px;
   }
   .green-effect {
      top: 10px;
      right: 120px;
   }
   .blue-effect {
      right: 11px;
      bottom: 180px;
   }
}
