.card {
   width: 370.348px;
   height: auto;
}
.card__title {
   font-size: 1rem;
   font-weight: 450;
   font-style: normal;
   line-height: normal;
   color: $secondary-grey-color;
   margin-bottom: 10px;
}
.card__inner-container {
   background: $primary-black-manga;
   border: 1px solid $line-color;
   border-radius: 15px;
}
.card__image-wrapper {
   height: 157px;
   background-size: cover;
   border-radius: 15px 15px 0px 0px;
}
.card__description-wrapper {
   padding: 10px 15px;
}
.card__description-text {
   font-size: 0.8rem;
   font-weight: 450;
   font-style: normal;
   line-height: 18px;
   color: $secondary-grey-color;
}
.card__buttons {
   margin-top: 21px;
   display: flex;
   gap: 5px;
   a {
      width: 100%;
      display: inline-flex;
      justify-content: center;
      padding: 10px 14px;
      background: rgba(28, 43, 58, 1);
      border-radius: 8px;
      font-family: $font-fira;
      font-size: 0.875rem;
      font-weight: 450;
      font-style: normal;
      line-height: normal;
      color: $white-color;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.3s ease-in;
      &:hover {
         background: rgba(38, 59, 80, 1);
      }
   }
}
@include media-query("max-width", "540px") {
   .card {
      width: calc(100% - 30px);
   }
}
