.project-header {
   height: 40px;
   border-bottom: 2px solid $line-color;
   display: flex;
   h3 {
      width: 240px;
      border-right: 2px solid $line-color;
      font-size: 1rem;
      font-weight: 400;
      font-style: normal;
      line-height: normal;
      display: inline-flex;
      gap: 10px;
      align-items: center;
      padding-left: 10px;
      color: $white-color;
      span {
         background-color: $secondary-grey-color;
         width: 18px;
         height: 18px;
         clip-path: path(
            "M9.34771 8.71879L13.0602 5.00629L14.1207 6.06679L10.4082 9.77929L14.1207 13.4918L13.0602 14.5523L9.34771 10.8398L5.63521 14.5523L4.57471 13.4918L8.28721 9.77929L4.57471 6.06679L5.63521 5.00629L9.34771 8.71879Z"
         );
      }
   }
}
.project-main {
   display: flex;
   height: calc(100% - 40px);
}
.project-main__aside {
   width: 240px;
   border-right: 2px solid $line-color;
}
.project-main__content {
   width: calc(100% - 240px);
   padding: 20px 0px;
   display: flex;
   flex-wrap: wrap;
   gap: 40px;
   justify-content: center;
   overflow-y: scroll;
}
